/* Modal animation */
.modal-content {
    position: relative;
    background-color: #333;
    margin: auto;
    padding: 0;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  @media only screen and (max-width: 900px) {
    .modal-content {
      width: 85%;
    }
  }
/* Modal animation end */

/* Progress animation */

.animation-progress .animation-bars {
    animation: time-progress 5s;
  }
  @keyframes time-progress {
    0% {
      width: 0;
    }
  }
/* Progress animation end */

/* loader animation */
.loader-skills,
.loader-education,
.loader-work-experience,
.loader-portfolio-work-done {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #96031a;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* loader animation end*/
