* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root{
  --white: #f7ebec;
  --red: #96031a;
  --black:#000000;
  --dark-gray:#262626;
  --light-black: #333;
  --turquoise: #5eb1bf;
  --green: #25d366;
}
body {
  background-color: var(--dark-gray);
  color: var(--white);
  width: 100%;
}
section {
  min-height: 100%;
}
/* === Style for section nav === */
nav {
  background: var(--red);
  padding: 10px 0;
  position: fixed;
  text-align: center;
  display: block;
  width: 100%;
  transition: top 0.6s;
  z-index: 1;
}
@media only screen and (max-width: 700px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
header a {
  width: 25%;
  padding: 10px;
  color: var(--white);
}
.highlight-nav {
  background-color: var(--light-black);
  color: red;
  padding: 11px;
}

/* === End style section nav === */

/* ==== Sart slider pictures  === */

.slider-picture{
  background-image: url("../images/web-developer.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}.slider-picture-code{
  background-image: url("../images/code.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.slider-picture-profession{
  background-image: url("../images/profession.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* ==== End slider pictures  === */

/* ==== Sart style for arrows indicators  === */

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2)
      format("woff2");
}

.material-icons {
  font-size: 44px !important;
}
.middle-indicator {
  position: absolute;
  top: 50%;
}
.middle-indicator-text {
  font-size: 4.2rem;
}
a.middle-indicator-text {
  color: white !important;
}
.content-indicator {
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* ==== End style for arrows indicators  === */

/* ==== Sart style for section resume === */
.text-motto {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2.5rem 0 1rem;
}
.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 26px;
  padding: 1em 0 2em;
}

/* Start bars progress style  */

.progress-title {
  display: flex;
  justify-content: space-around;
}
.bar-porcent {
  margin: 9px 0;
  font-size: 10px;
}
.progress-bars {
  background: var(--red);
  height: 2rem;
  width: 50%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 1px 0 5px var(--black) inset;
}
@media only screen and (max-width: 900px) {
  .progress-bars {
    width: 80%;
  }
}
.bars-level {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  color: var(--black);
  text-align: center;
  box-shadow: 1px 0 5px var(--black) inset;
  transition: width 0.9s ease-in-out;
  background: var(--white);
}

.bars-level:hover {
  box-shadow: 4px 0 5px var(--black) inset;
  background: var(--turquoise);
}
/*  End bars progress style  */

/* Start flip card style */
.flip-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
  flex-wrap: wrap;
}
.flip {
  background-color: transparent;
  width: 250px;
  height: 270px;
  perspective: 1000px;
  margin: 10px;
}
.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip:hover .flip-inner {
  transform: rotateX(180deg);
}
.flip-front img {
  width: 250px;
  height: 270px;
  border-radius: 20px;
}
@media only screen and (max-width: 900px) {
  .arrow {
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    right: 5px;
    bottom: 125px;
  }
}
@media only screen and (min-width: 900px) {
  .arrow {
    display: none;
  }
}
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-front {
  background-color: var(--white);
  color: var(--black);
  transform-style: preserve-3d;
}
.flip-front .title-university-text {
  position: absolute;
  width: 90%;
  height: 14%;
  overflow: hidden;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flip-front .degree-text {
  position: absolute;
  width: 72%;
  height: 27%;
  overflow: hidden;
  display: flex;
  align-items: center;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.flip-back {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(150, 3, 26, 1) 50%
  );
  color: var(--white);
  transform: rotateX(180deg);
}
.flip-back .start-study-data-text {
  position: absolute;
  width: 90%;
  height: 14%;
  overflow: hidden;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flip-back .description-text {
  position: absolute;
  width: 93%;
  height: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End flip card style */

/* Start work-card style */
.work-card-items {
  background: var(--light-black);
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  height: 353px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--red);
  position: relative;
  overflow: hidden;
}
.work-card-items::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    172deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(150, 3, 26, 1) 50%
  );
  position: absolute;
  bottom: -100%;
  z-index: 0;
}
.work-card-items:hover::before {
  bottom: 0;
  transition: all 0.5s;
}
.work-card-items h3,
.work-card-items h4 {
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: var(--turquoise);
  z-index: 0;

}
.work-card-items h3 {
  font-size: 20px;
  height: 15%;
 
}.work-card-items h4 {
  height: 7%;
}

.work-card-items p {
  text-align: center;
  color: var(--white);
  z-index: 0;
}
.text-card {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 0;
}

/* === End style section Resume === */

/* === Start style for section modal-portfolio === */
.title-portfolio {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 26px;
  padding: 3em 0 2em;
}
.click-picture img {
  width: 300px;
  border-radius: 25px;
}
.click-picture {
  position: relative;
}
.portfolio-pictures {
  display: inline-block;
  padding: 10px;
  flex-wrap: wrap;
}
#portfolio-work-done {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.overlay {
  position: absolute;
  border-radius: 25px;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white);
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.3s, visibility 0.3s;
}
.click-picture:hover .overlay {
  visibility: visible;
  opacity: 1;
  width: 300px;
  cursor: pointer;
}
.overlay h4,
h5 {
  padding: 19px 19px 0;
}
.modal-picture {
  max-width: 100%;
  height: auto;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}
#data-modal {
  display: contents;
}
.close {
  color: var(--white);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}
.modal-article {
  padding: 10px;
}
.article h4 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.modal-article p {
  text-align: justify;
  line-height: 1.6;
}
.tags {
  padding: 10px;
}
.modal-footer {
  padding: 7px;
  background-color: var(--red);
  color: var(--white);
}
.modal-footer a {
  color: var(--white);
}
.modal-footer span {
  margin: -5px 10px;
}
/* === End style section modal-portfolio === */

/* === start style section contact === */
#contact {
  text-align: center;
}
.contact-title {
  padding: 3em 0 4rem;
  color: var(--white);
  text-transform: uppercase;
  font-size: 26px;
  transition: all 4s ease-in-out;
}
.contact-title p {
  font-size: 18px;
  line-height: 20px;
}

form {
  transition: all 4s ease-in-out;
}
.form-control {
  width: 60%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--red);
  color: var(--white);
  font-size: 18px;
  margin-bottom: 16px;
}
input {
  height: 45px;
}
form .submit {
  background: var(--red);
  border-radius: 25px;
  border-color: transparent;
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin: 20px 0;
}
form .submit:hover {
  cursor: pointer;
  background: var(--turquoise);
}
.error-name {
  display: none;
  font-weight: 700;
  font-size: 14px;
  color: var(--red);
}
.error-email {
  display: none;
  font-weight: 700;
  font-size: 14px;
  margin: 0px 150px 0px 150px;
  color: var(--red);
}
.error-message {
  display: none;
  font-weight: 700;
  font-size: 14px;
  color: var(--red);
}
.name-has-error{
  display: block;
}
.email-has-error{
  display: block;
}
.message-has-error{
  display: block;
}
.pdf-center {
  text-align: center;
  padding: 20px;
}
.contatc-details {
  padding: 10px;
}

.fa,
.button {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 2px;
}

/* === End style section contact === */

/* === Start style section footer === */


.social-icons {
  display: flex;
  justify-content: center;
  margin: 5px;
  font-size: 35px;
}
.social-icons a {
  margin: 10px 20px;
  border-radius: 12px; 
}
a .fa-whatsapp{
  border-radius: 12px;
}
.fa-whatsapp{
  color: var(--green);
}
.fa-whatsapp:before {
  font-size: 45px;
}

.button{
  border-radius: 25px;
}
.button,
.fa-github,
.fa-linkedin,
.fa-youtube,
.fa-twitter {
  background: var(--red);
  color: var(--white);
}
.fa-download:hover,
.button:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-youtube:hover,
.fa-twitter:hover {
  cursor: pointer;
  background: var(--turquoise);
}
.top-up {
  text-align: -webkit-right;
  margin-right: 25px;
}
/* Button go to up */
#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 2px;
  font-size: 18px;
  border: none;
  background-color: var(--turquoise);
  color: var(--white);
  cursor: pointer;
  padding: 17px;
  border-radius: 27px;
}
/* === End style section footer === */
