*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #1b1b1e;
    color: #F7EBEC;
    width: 100%;
}
section{
    min-height: 100vh;
}
/* Style for background image */
/* .container{
    background-image: url("Imagenes/photo.JPG");
    width: 100%;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
/* Style for menu */

#navbar {
    background: #96031A;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    display: block;
    width: 100%;
    transition: top 0.6s;
}
header a{
    padding: 10px;
    color: #F7EBEC;
}
#about img{
    width: 300px;
    padding: 2em;
    /* position: absolute; */
    left: 0em;
    border-radius: 150px;}
#portfolio-pictures img{
    width: 200px;
}
footer{
    min-height: 20vh;
}
.top-up{
    text-align: -webkit-right;
    margin-right: 25px;
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    background-color: #5eb1bf;
    color:#F7EBEC;
    cursor: pointer;
    padding: 17px;
    border-radius: 27px;
}


/* Style for banner */
/* .banner{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
} */